<div class="login-container animate__animated animate__fadeIn animate__slow">
    <img src="../../../assets/logo/logostrega.png" alt="Logo" class="logo">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Ingresa tu correo electronico">
            <mat-error *ngIf="loginForm.get('email')?.invalid">Ingresa un correo valido</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Ingresta tu contraseña">
            <mat-error *ngIf="loginForm.get('password')?.invalid">Ingresa tu contraseña</mat-error>
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || loading"> <!-- Deshabilita el botón cuando el formulario no es válido o está cargando -->
            <span *ngIf="!loading">Login</span> <!-- Muestra "Login" cuando no está cargando -->
            <mat-spinner *ngIf="loading" diameter="20" color="accent"></mat-spinner> <!-- Muestra el spinner cuando está cargando -->
        </button>    
    </form>
</div>
