<div class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 ml-2 mt-3">
  <div class="card pt-2 " style=" width: 100%;">
    <img src="../../assets/logo/ICON.svg" class="card-img-top fade-in-image card-image">
    <div class="card-body">
      <span class="card-text">Nombre Cliente:</span><br>
      <span class="card-text">RFC:</span>
    </div>
    <mat-card-actions class="text-center "   >
       <button style="width: 100%; color: white; " class="bg-primary"  mat-button (click)="abrirModal()">Ver Detalles</button>
    </mat-card-actions>
  </div>
</div>


<div class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 ml-2 mt-3">
  <div class="card pt-2 " style=" width: 100%;">
    <img src="../../assets/logo/ICON.svg" class="card-img-top fade-in-image card-image">
    <div class="card-body">
      <span class="card-text">Nombre Cliente:</span><br>
      <span class="card-text">RFC:</span>
    </div>
    <mat-card-actions class="text-center "   >
       <button style="width: 100%; color: white; " class="bg-primary"  mat-button (click)="abrirModal()">Ver Detalles</button>
    </mat-card-actions>
  </div>
</div>


<div class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 ml-2 mt-3">
  <div class="card pt-2 " style=" width: 100%;">
    <img src="../../assets/logo/ICON.svg" class="card-img-top fade-in-image card-image">
    <div class="card-body">
      <span class="card-text">Nombre Cliente:</span><br>
      <span class="card-text">RFC:</span>
    </div>
    <mat-card-actions class="text-center "   >
       <button style="width: 100%; color: white; " class="bg-primary"  mat-button (click)="abrirModal()">Ver Detalles</button>
    </mat-card-actions>
  </div>
</div>


<div class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 ml-2 mt-3">
  <div class="card pt-2 " style=" width: 100%;">
    <img src="../../assets/logo/ICON.svg" class="card-img-top fade-in-image card-image">
    <div class="card-body">
      <span class="card-text">Nombre Cliente:</span><br>
      <span class="card-text">RFC:</span>
    </div>
    <mat-card-actions class="text-center "   >
       <button style="width: 100%; color: white; " class="bg-primary"  mat-button (click)="abrirModal()">Ver Detalles</button>
    </mat-card-actions>
  </div>
</div>


<div class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 ml-2 mt-3">
  <div class="card pt-2 " style=" width: 100%;">
    <img src="../../assets/logo/ICON.svg" class="card-img-top fade-in-image card-image">
    <div class="card-body">
      <span class="card-text">Nombre Cliente:</span><br>
      <span class="card-text">RFC:</span>
    </div>
    <mat-card-actions class="text-center "   >
       <button style="width: 100%; color: white; " class="bg-primary"  mat-button (click)="abrirModal()">Ver Detalles</button>
    </mat-card-actions>
  </div>
</div>


<div class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 ml-2 mt-3">
  <div class="card pt-2 " style=" width: 100%;">
    <img src="../../assets/logo/ICON.svg" class="card-img-top fade-in-image card-image">
    <div class="card-body">
      <span class="card-text">Nombre Cliente:</span><br>
      <span class="card-text">RFC:</span>
    </div>
    <mat-card-actions class="text-center "   >
       <button style="width: 100%; color: white; " class="bg-primary"  mat-button (click)="abrirModal()">Ver Detalles</button>
    </mat-card-actions>
  </div>
</div>

