.img-container {
    background-color: #15344A;
    width: 70%; 
    position: relative;
    padding-top: 70%; 
    border-radius: 10px; 
     
  }
  
  .img-container img {
    border-radius: 50%; 
    width: 70%; 
    height: auto; 
    max-height: 80%; 
    border: 4px solid transparent; 
    box-sizing: border-box; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    
  }
  
  .img-container::before {
    content: ''; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 73%; 
    height: 73%; 
    border-radius: 50%;   
    background-image: linear-gradient(to right, #08F3FA, #07BDF2, #0882EA);  
    border: 0px solid transparent; 
    z-index: 0; 
  }



   
   
   
  