<div class="card">
  <a class="btn" (click)="getProfile(id, picture, full_name)">
    <div class="row justify-content-center"> <!-- Agregando la clase justify-content-center para centrar horizontalmente -->
      <div class="col-5">
        <div class="margen">
          <div class="img-container">
            <img id="avatarImage" src="{{picture}}" (error)="handleImageError()" alt="avatar"
              class="animate__animated animate__fadeIn">
          </div>
        </div>
      </div>
      <div class="col-6 text">
        <div class="text-start">
          <p>
            <span class="txt">Nombre Cliente:</span>  {{full_name}} <br>
            <span class="txt">RFC:</span>  {{rfc}} <br>
            <span class="txt">ID:</span>  {{id}} <br>
          </p>
        </div>
      </div>
      <div class="col-1">
        <button class="btns">DETALLES</button>
      </div>
    </div>
  </a>
</div>
