.logo{
    margin-left: 1%;
}

.mat-toolbar {
    justify-content: space-between;
}
  
.logout-button {
    margin-left: auto; 
}

.opt-toolbar {
    font-size: 12px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    line-height: 1.2;
}

.spacer {
    flex-grow: 1;
}

@media only screen and (max-width: 1100px) {
    .opt-toolbar,
    .logout-button,
    .logo {
        display: none;
    }
}

@media only screen and (min-width: 1100px) {
    .show-menu {
        display: none;
    }
}

.nv{
    background-color: rgb(29,51,72) ;
    color: white !important;
}