section {
  background-color: #d6d6d6;
}
.img-container {
  background-color: #15344A;
  width: 100%; 
  position: relative;
  padding-top: 100%; 
  border-radius: 10px; 
  overflow: hidden; 
}

.img-container img {
  border-radius: 50%; 
  width: 80%; 
  height: auto; 
  max-height: 80%; 
  border: 4px solid transparent; 
  box-sizing: border-box; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
}

.img-container::before {
  content: ''; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 83%; 
  height: 83%; 
  border-radius: 50%;   
  background-image: linear-gradient(to right, #08F3FA, #07BDF2, #0882EA);  
  border: 0px solid transparent; 
  z-index: 0; 
}

.test {  
  padding: 0px;
  margin: 0px;  
  overflow: hidden;
}
.field {
  background-color: white;
  margin: 0 10px;
  margin-bottom: 8px;
  padding: 10px 5px;
  border-radius: 10px;
}

.vehicles {  
  background-color: #fff;
  padding: 35px 15px;
  position: relative;
  margin-top: 40px;  
}

.v-principal-title {
  position: absolute;
  color: white;
  background-color: #15344A;   
  left: 50%; 
  top: -0.5%;
  transform: translate(-50%, -50%); 
  border-radius: 20px;
  padding: 5px 15px;  
  font-size: 20px;
}

.v-sum_order {
  width: 250px; 
  height: 0;
  border-bottom: 40px solid #15344A; 
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent; 
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  justify-content: center; 
}

.v-sum_order span {
  color: white;
  font-size: 20px;
  
}

.v-container {
  background-color: #d6d6d6;
  padding: 0px 20px 20px 20px;
  border-radius: 0 0 30px 30px;
  margin-bottom: 20px;
}

.v-title {
  text-align: center;
  color: white;
  background-color: #15344A;
  font-size: 20px;
  padding: 5px 0;  
}

.o-row {
  padding: 5px 0px;
  font-size: 10px;
}

.o-row-title {  
  font-size: 10px;
  background-color: #15344A;
  color: white;
}