<section class="container-fluid">
  <div class="container p-2">
    <div class="row">
      <div class="col-lg-4 box">
        <div class="card mb-4">
          <div class="card-body text-center">
            <div class="img-container">
              <img id="avatarImage" src="{{picture}}" alt="avatar" class="animate__animated animate__fadeIn">
            </div>
            <h5 class="my-3">{{name}}</h5>
            <p class="text-muted mb-1">business Pro id: {{id_bp}}</p>
            <p class="text-muted mb-4">RFC: {{rfc}}</p>

            <div class="d-flex justify-content-center align-items-center mb-2">
              <mat-icon class="mr-2">edit</mat-icon>
              <label for="inputValue" class="file-input-label">Actualizar Imagen </label>
              <input type="file" id="inputValue" #value accept=".jpg, .jpeg, .png" style="display: none;"
                (change)="checkFileInput($event ,value)">
            </div>
            <div class="alert  " role="alert" *ngIf="message_picture">
              Imagen seleccionada
              <hr>
              <img id="ImageUpload" src="" alt="avatar" class="rounded-3 " width="40%">
              <div class="d-flex justify-content-center mb-5">
                <button class="btn bg-primary text-light mt-4 mb-3" [disabled]="!fileSelected"
                  (click)="upload(value)">Actualizar</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-8 test">        
        <div class=" mb-4">
          <div class="">
            <div class="row field">
              <div class="col-sm-3">
                <p class="mb-0">Nombre Completo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{name}}</p>
              </div>
            </div>

            <div class="row field">
              <div class="col-sm-3">
                <p class="mb-0">Correo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{email}}</p>
              </div>
            </div>

            <div class="row field">
              <div class="col-sm-3">
                <p class="mb-0">Teléfono</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{phone1}}</p>
              </div>
            </div>

            <div class="row field">
              <div class="col-sm-3">
                <p class="mb-0">Teléfono Celular</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{phone2}}</p>
              </div>
            </div>

            <div class="row field">
              <div class="col-sm-3">
                <p class="mb-0">Dirección</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{address}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="vehicles animate__animated animate__fadeIn animate__slow">
          <div class="v-principal-title">
            Ventas
          </div>
          <div class="v-title">
            Venta
          </div>
          <div class="sale v-container"> 
            <mat-progress-bar mode="indeterminate" *ngIf="order_loading" class="pt-3"></mat-progress-bar>           
            <mat-accordion>
              <mat-expansion-panel *ngFor="let saleVehicle of saleVehicles; index as i">
                <mat-expansion-panel-header [class.custom-title]="true">
                  <mat-panel-title>
                    {{ i + 1 }} {{ saleVehicle.name }} Vin: {{ saleVehicle.vin }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row o-row o-row-title">
                  <div class="col">
                    ID
                  </div>
                  <div class="col">
                    ORDER ID
                  </div>
                  <div class="col">
                    FECHA DE FACTURACIÓN
                  </div>
                  <div class="col">
                    COSTO TOTAL
                  </div>
                  <div class="col">
                    KILOMETRAJE
                  </div>  
                  <mat-divider></mat-divider>                                  
                </div>
                <div *ngFor="let order of saleVehicle.orders">
                  <div class="row o-row" *ngIf="order.order_type == 'Sale'">
                    <div class="col">
                      {{ order.id }}
                    </div>
                    <div class="col">
                      {{ order.id_order_bp}}
                    </div>
                    <div class="col">
                      {{ order.sale_billing_date }}
                    </div>
                    <div class="col">
                      ${{ order.total_price | number:'.2-2' }}
                    </div>
                    <div class="col">
                      {{ order.order_km | number }} km
                    </div>
                    <mat-divider></mat-divider>
                    <div class="col-12">
                      <span>Observaciones: {{ order.observations }}</span> 
                    </div>
                    <mat-divider></mat-divider>
                    <div class="col-12">
                      <span>Satisfacción: {{ order.survey?.satisfaction }}</span> 
                    </div>
                    <div class="col-12">
                      <span>Comentarios: {{ order.survey?.comments }}</span> 
                    </div>
                  </div> 
                </div>                               
              </mat-expansion-panel>            
            </mat-accordion>  
          </div>

          <div class="v-title">
            Postventa
          </div>
          <div class="aftersale v-container"> 
            <mat-progress-bar mode="indeterminate" *ngIf="order_loading" class="pt-3"></mat-progress-bar>                      
            <mat-accordion>
              <mat-expansion-panel *ngFor="let aftersaleVehicle of aftersaleVehicles; index as i">
                <mat-expansion-panel-header [class.custom-title]="true">
                  <mat-panel-title>
                    {{ i + 1 }} {{ aftersaleVehicle.name }} Vin: {{ aftersaleVehicle.vin }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row o-row o-row-title">
                  <div class="col">
                    ID
                  </div>
                  <div class="col">
                    ORDER ID
                  </div>
                  <div class="col">
                    FECHA DE FACTURACIÓN
                  </div>
                  <div class="col">
                    COSTO TOTAL
                  </div>
                  <div class="col">
                    KILOMETRAJE
                  </div>  
                  <mat-divider></mat-divider>                                  
                </div>
                <div *ngFor="let order of aftersaleVehicle.orders">
                  <div class="row o-row" *ngIf="order.order_type == 'Aftersale'">
                    <div class="col">
                      {{ order.id }}
                    </div>
                    <div class="col">
                      {{ order.id_order_bp}}
                    </div>
                    <div class="col">
                      {{ order.service_date }}
                    </div>
                    <div class="col">
                      ${{ order.total_price | number:'.2-2' }}
                    </div>
                    <div class="col">
                      {{ order.order_km | number }} km
                    </div>
                    <mat-divider></mat-divider>
                    <div class="col-12">
                      <span>Observaciones: {{ order.observations }}</span> 
                    </div>
                    <mat-divider></mat-divider>
                    <div class="col-12">
                      <span>Satisfacción: {{ order.survey?.satisfaction }}</span> 
                    </div>  
                    <div class="col-12">
                      <span>Comentarios: {{ order.survey?.comments }}</span> 
                    </div>     
                    <mat-divider></mat-divider>             
                  </div> 
                </div>                               
              </mat-expansion-panel>            
            </mat-accordion>  
          </div>
          <div class="v-sum_order">
            <span>Total: ${{ sum_order | number: '.2-2' }}</span>
          </div>           
        </div>        
      </div>
    </div>
  </div>
</section>
