.btn{
    color: white !important;
}   

.details-bg {
    align-items: center;
    background: rgb(255, 253, 253);
    border-radius: 8px;    
    display: flex;  
    padding: 2px;
}

.detail-text {
    padding: 0px 8px;
}

.detail-content {
    margin-left: auto;
}

.collapse-content {
    max-height: 180px; /* Altura máxima del contenido */
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es más grande que la altura máxima */
  }
  