<div class="container p-3">
  <div class="row">
    <div class="col-12 col-12 mt-1 mb-2">
      <!-- Form -->
      <div class="row">
        <div class="col-12">
          <!-- Title -->
          <div class="row">
            <div class="col-12 text-center">
              <!-- <h3>{{ fullName }}</h3> -->
              <h3>Ordenes</h3>
              <hr />
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12">
              <div class="my-accordion">
                <div class="card">
                  <div class="card-header bg-primary" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <span style="font-weight: bold;">INFORMACIÓN DEL CLIENTE</span>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse dispose" data-parent="#my-accordion" aria-labelledby="headingTwo" >
                    <div class="card-body collapse-content" style="width: 100%;">
                      <div class="row" style="margin-left: -10px;">
                        <div class="container">
                          <div class="row-cols-1 row-cols-md-2 row-cols-lg-2 g-2 g-lg-3">
                             client id_bp 
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">IDBP del Cliente</span>
                                <span class="detail-content fw-bold">{{ id_client_bp }}</span>
                              </div>
                            </div>
                             client rfc 
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">RFC</span>
                                <span class="detail-content fw-bold">{{ rfc }}</span>
                              </div>
                            </div>
                             client gender
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">Sexo</span>
                                <span class="detail-content fw-bold">{{ gender | titlecase }}</span>
                              </div>
                            </div>
                             client phone_1 
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">Teléfono 1</span>
                                <span class="detail-content fw-bold">{{ phone_1 }}</span>
                              </div>
                            </div>
                             client phone_2
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">Teléfono 2</span>
                                <span class="detail-content fw-bold">{{ phone_2 }}</span>
                              </div>
                            </div>
                             client cellphone 
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">Teléfono Celular</span>
                                <span class="detail-content fw-bold">{{ cellphone }}</span>
                              </div>
                            </div>
                             client email_1 
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">Email</span>
                                <span class="detail-content fw-bold">{{ email_1 }}</span>
                              </div>
                            </div>
                             client city 
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">Ciudad</span>
                                <span class="detail-content fw-bold">{{ city | titlecase }}</span>
                              </div>
                            </div>
                             client delegacy 
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">Delegación</span>
                                <span class="detail-content fw-bold">{{ delegacy | titlecase }}</span>
                              </div>
                            </div>
                             client colony 
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">Colonia</span>
                                <span class="detail-content fw-bold">{{ colony | titlecase }}</span>
                              </div>
                            </div>
                             client address 
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">Dirección</span>
                                <span class="detail-content fw-bold">{{ address | titlecase }}</span>
                              </div>
                            </div>
                             client zip_code 
                            <div class="col">
                              <div class="details-bg">
                                <span class="detail-text">C.P.</span>
                                <span class="detail-content fw-bold">{{ zip_code }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div> -->


          <div class="row">
            <div class="col-12">
              <div id="accordion" class="collapse-table">
                <div *ngFor="let dato of datos; index as i "  class="card">
                  <div class="card-header bg-secondary" id="heading{{i}}">
                    <h5 class="mb-0">
                      <button class="btn  " data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true"
                        [attr.aria-controls]="'collapse' + i"> 
                        <span style="font-weight: bold;">{{ i + 1 }} {{ dato.name }} Vin: {{ dato.vin }}</span>
                      </button>
                    </h5>
                  </div>
                  
                  <div [id]="'collapse' + i " class="collapse  dispose"  data-parent="#accordion">
                    <div class="card-body collapse-table " style="width: 100%; overflow-x:scroll; padding-top: 0;">
                      <table class="table sticky-table">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Fecha Facturación</th>
                            <th scope="col">Costo Total</th>
                            <th scope="col">Kilometraje</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col">Satisfacción</th>
                            <th scope="col">CSI</th>
                            <th scope="col">NPS</th>
                            <th scope="col">Recomendación</th>
                            <th scope="col">Eficiencia</th>
                            <th scope="col">Asesor</th>
                            <th scope="col">Trabajo</th>
                            <th scope="col">Comentarios</th>
                            <th scope="col">Incidencia</th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr *ngFor="let order of dato.orders">
                            <td scope="row">{{ order.id }}</td>
                            <td>{{ order.id_order_bp}}</td>
                            <td *ngIf="order.order_type == 'Aftersale' ">{{ order.service_billing_date}}</td>
                            <td *ngIf="order.order_type == 'Sale' ">{{ order.sale_billing_date}}</td>
                            <td>${{ order.total_price | number:'.2-2' }}</td>
                            <td>{{ order.order_km | number }} km</td>
                            <td>{{ order.observations }}</td>
                            <ng-template #elseId><td>NT</td></ng-template>
                            <td *ngIf="order.survey != null; else elseId">{{ order.survey.satisfaction }}</td>
                            <td *ngIf="order.survey != null; else elseId">{{ order.survey.csi }}</td>

                            <td *ngIf="order.order_type == 'Aftersale'; else elseNps">NA</td>
                            <ng-template #elseNps><td *ngIf="order.order_type == 'Sale' && order.survey != null; else elseNpsVtas">{{order.survey.nps}}</td></ng-template>
                            
                            <ng-template #elseNpsVtas><td>NT</td></ng-template>
                            
                            <td *ngIf="order.order_type == 'Sale'; else elseRecommend">NA</td>
                            <ng-template #elseRecommend><td *ngIf="order.order_type == 'Aftersale' && order.survey != null; else elseNpsVtas">{{order.survey.recomendation}}</td></ng-template>
                            
                            <td *ngIf="order.order_type == 'Sale' else elseEfficiency">NA</td>
                            <ng-template #elseEfficiency> <td *ngIf="order.order_type == 'Aftersale' && order.survey != null; else elseNpsVtas">{{order.survey.efficiency}}</td></ng-template>
                            
                            <td *ngIf="order.order_type == 'Sale' else elseAdvisor">NA</td>
                            <ng-template #elseAdvisor> <td *ngIf="order.order_type == 'Aftersale' && order.survey != null; else elseNpsVtas">{{order.survey.advisor}}</td></ng-template>
                            
                            <td *ngIf="order.order_type == 'Sale' else elseJob">NA</td>
                            <ng-template #elseJob> <td *ngIf="order.order_type == 'Aftersale' && order.survey != null; else elseNpsVtas">{{order.survey.job}}</td></ng-template>

                            <td *ngIf="order.order_type == 'Sale' else elseComments">NA</td>
                            <ng-template #elseComments> <td *ngIf="order.order_type == 'Aftersale' && order.survey != null; else elseNpsVtas">{{order.survey.comments}}</td></ng-template>
                            
                            <td *ngIf="order.incidence != null; else elseId">{{order.incidence.name}}</td>
                            
                          </tr>
                        </tbody>
                      </table>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div id="accordion">
                <div class="mt-3 ">
                  <h6 class="mb-0 ">* NT - No tiene</h6>
                  <h6 class="mb-0 ">* NA - No aplica</h6>
                  <h5 class="mb-0 text-end">
                    Total: ${{sum_order | number:'.2-2'}}
                  </h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
