.btn{
    color: white !important;
}   

.details-bg {
    align-items: center;
    background: rgb(255, 253, 253);
    border-radius: 8px;    
    display: flex;  
    padding: 2px;
}

.detail-text {
    padding: 0px 8px;
}

.detail-content {
    margin-left: auto;
}

.collapse-content {
    max-height: 180px; /* Altura máxima del contenido */
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es más grande que la altura máxima */
}

.collapse-table {
    max-height: 280px; /* Altura máxima del contenido */
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es más grande que la altura máxima */
}

.sticky-table th {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Fondo blanco para mantener la apariencia de la fila pegajosa */
    z-index: 1; /* Asegura que la fila pegajosa esté sobre el contenido de la tabla */
}
  